*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: Arial, sans-serif;
  line-height:1.7;
  background:#f8f8f8;
  color:#222;
}

a{
  text-decoration:none;
  color:inherit;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}
header{
  background:white;
  border-bottom:1px solid #e5e5e5;
  padding:20px 0;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo h1{
  font-size:28px;
  color:#c9a961;
}

.logo p{
  font-size:14px;
  color:#777;
}

nav{
  display:flex;
  gap:20px;
}

nav a{
  font-size:16px;
  font-weight:bold;
  transition:0.3s;
}

nav a:hover{
  color:#c9a961;
}
.hero{
  padding:80px 0;
  background:#f9f9f9;
}

.hero-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:40px;
}

.hero-text{
  flex:1;
}

.hero-text h2{
  font-size:42px;
  margin-bottom:20px;
  color:#1f1f1f;
}

.hero-text p{
  font-size:18px;
  color:#666;
  margin-bottom:25px;
  line-height:1.6;
}

.hero-btn{
  background:#c9a961;
  color:white;
  padding:12px 24px;
  border-radius:8px;
  font-weight:bold;
  transition:0.3s;
}

.hero-btn:hover{
  background:#b3934f;
}

.hero-image{
  flex:1;
}

.hero-image img{
  width:100%;
  border-radius:12px;
}
.about{
  padding:80px 0;
  background:white;
}

.about-container{
  display:flex;
  align-items:center;
  gap:40px;
}

.about-image{
  flex:1;
}

.about-image img{
  width:100%;
  border-radius:12px;
}

.about-text{
  flex:1;
}

.section-subtitle{
  display:inline-block;
  color:#c9a961;
  font-weight:bold;
  margin-bottom:10px;
  font-size:15px;
}

.about-text h2{
  font-size:36px;
  margin-bottom:20px;
  color:#1f1f1f;
}

.about-text p{
  font-size:17px;
  color:#666;
  margin-bottom:15px;
  line-height:1.8;
}